@import '../../sass/variables.scss';

.scoreboard {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 16rem;
    &--gameKey {
        margin: 0;
        text-align: center;
    }
    &--wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        &--score1 {
            display: flex;
            justify-content: center;
        }
        &--score2 {
            display:flex;
            justify-content: center;
        }
    }
}

#score1-counter, #score2-counter {
    height: 1rem;
    width: 3rem;
}